.tag{
    color: seagreen;
}
button{
    background-color: blue;
    color: white;
    height: 30px;
   border-radius: 6px;
}

#hi{
    color: chocolate;
}

#clock{
    color: gold;
}

#h1{
    color: fuchsia;
}

#hideme{
    color:brown;
}

pre{
    color: rgb(38, 212, 93);
}
